<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
<div th:fragment="card-escalade (escalades)">
    <h4 th:if="${#lists.isEmpty(escalades)}" class="text-center">Sélectionnez d'autres critères de recherche.</h4>
    <div class="row">
        <th:block th:each="site : ${escalades}">
            <div class="card border-dark m-1" style="width: 30rem;">
                <h3 class="card-header" th:utext="${site.name}"></h3>
                <div class="card-body">
                    <h5 class="card-text" th:if="${site.isOfficial()}" style="color: red"
                        th:utext="${'Officiel Les amis de l’escalade'}"></h5>
                    <p class="card-text">Description:</p>
                    <p class="card-text" th:utext="${site.description}"></p>
                </div>
                <ul class="list-group list-group-flush card-body">
                    <li class="list-group-item">
                    <li class="list-group-item ">
                        <div class="row">
                            <p class="col">Region:</p>
                            <p class="col" th:utext="${site.region}"></p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <p>Adresse:</p>
                        <p th:utext="${site.street}"></p>
                    </li>
                    <li class="list-group-item ">
                        <div class="row">
                            <p class="col">Cotation max:</p>
                            <p class="col" th:utext="${site.cotationMax}"></p>
                        </div>
                    </li>
                    <li class="list-group-item ">
                        <div class="row">
                            <p class="col">Nombre secteurs:</p>
                            <p class="col" th:utext="${site.numbersSecteurs}"></p>
                        </div>
                    </li>
                    <li class="list-group-item ">
                        <div class="row">
                            <p class="col">Nombre voies:</p>
                            <p class="col" th:utext="${site.numbersVoies}"></p>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="row">
                        <a th:href="@{/site-info/{id}(id=${site.id})}" class="btn btn-primary ml-3">Info</a>
                        <a th:href="@{user/add-topo/{id}(id=${site.id})}" class="btn btn-primary ml-3"
                           sec:authorize="isAuthenticated() and hasAnyAuthority('USER','MEMBRE') ">Creer Topo</a>
                    </div>

                    <div class="row">
                        <form class="row m-2" sec:authorize="hasAnyAuthority('MEMBRE')"
                              th:action="@{/membre/tags}"
                              method="post">
                            <input name="siteId" th:value="${site.id}" hidden readonly>
                            <button th:utext="${site.isOfficial()? 'Démarquer amie' : 'Marquer comme un amie'}"
                                    type="submit" class="btn-warning btn "></button>
                        </form>


                        <form class="row m-2"
                              th:if="${#authorization.expression('hasAnyAuthority(''MEMBRE'')') or #authentication.name.equalsIgnoreCase(site.user.email)}"
                              th:action="@{/user/site/modify}"
                              method="get">
                            <input name="siteId" th:value="${site.id}" hidden readonly>
                            <button th:utext="${'Modifier'}"
                                    type="submit" class="btn-warning btn "></button>
                        </form>

                        <button th:if="${#authorization.expression('hasAnyAuthority(''MEMBRE'')') or #authentication.name.equalsIgnoreCase(site.user.email)}"
                                type="button" class="row m-2 btn btn-danger" data-toggle="modal"
                                data-target="" th:attr="data-target = ${'#supprimer' + site.getId()}">Supprimer
                        </button>
                        <!-- Modal -->
                        <div th:if="${#authorization.expression('hasAnyAuthority(''MEMBRE'')') or #authentication.name.equalsIgnoreCase(site.user.email)}"
                             class="modal fade" th:attr="id=${'supprimer' + site.getId()}" id="2"
                             tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel2">Supprimer le site</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div th:if="${site.getNumbersComments() == 0}" class="modal-body">
                                        Voulez-vous supprimer le site?
                                    </div>
                                    <div th:if="${site.getNumbersComments() > 0}" class="modal-body">
                                        <h4>Attention</h4>
                                        <p>Vous souhaitez supprimer un site contenant des commentaires d'autres
                                            utilisateurs.</p>
                                        <p>Voulez-vous toujours le supprimer?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non
                                        </button>
                                        <form class="row m-2"
                                              th:action="@{/user/site/delete}"
                                              method="post">
                                            <input name="siteId" th:value="${site.id}" hidden readonly>
                                            <button th:utext="${'Oui'}"
                                                    type="submit" class="btn-primary btn "></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </th:block>
    </div>

</div>
</body>
</html>
