<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- this is header-css -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>

        <script src="/static/js/all.js"></script>
    </div>
</head>
<body>
<div th:fragment="nav">
    <!-- this is header -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand">Escalade</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/sites}">Sites d'escalade <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/topos}">Topos disponibles</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated() and hasAnyAuthority('USER', 'MEMBRE')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:utext="${#authorization.expression('hasAuthority(''USER'')')? 'User' : 'Membre'}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/user/add-site}">Ajouter un site</a>
                        <a class="dropdown-item" th:href="@{/user/topos}">Topos perso</a>
                        <a class="dropdown-item" th:href="@{/user/reservations}">Reservations</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                        <a class="dropdown-item" th:href="@{/admin}">Changer role d'un user</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0 " sec:authorize="!isAuthenticated()">
                <a th:href="@{/signup}" class="btn btn-outline-primary mr-1">Sign-Up</a>
                <a th:href="@{/login}" class="btn btn-outline-success ml-1">Log-In</a>
            </form>
            <form class="form-inline mt-2 mt-md-0 " sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" class="btn btn-outline-success ml-1">Log Out</a>
            </form>
        </div>
    </nav>
</div>

</body>
</html>
