<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Escalade</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>


<div th:replace="fragments/header :: nav"/>

<main role="main">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur le site d'escalade</h1>
            <h3 class="lead">Ici, nous stockons pour vous les meilleurs sites d'escalade.<br>
                Vous pouvez également ajouter le vôtre ou laisser un avis.</h3>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" th:href="@{/sites}" role="button">Consulter les sites d'escalade</a>
            </p>
        </div>
    </div>
</main>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>