<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: nav"/>


<main role="main">
    <div class="container">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Nouveau Site</h1>
                <p class="lead">Pour ajouter un nouveau site, remplissez toutes les informations nécessaires</p>
            </div>
        </div>
        <div th:if="${param.success}">
            <div class="alert alert-info">You've successfully registered
                your site!
            </div>
        </div>

        <form th:action="@{/user/add-site}" th:object="${site}" method="POST">
            <div>
                <h2 class="text-center">Site</h2>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                    <label for="name" class="control-label">Nom</label> <input
                        id="name" class="form-control" th:field="*{name}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('name')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('region')}? 'has-error':''">
                    <label for="region" class="control-label">Region</label> <input
                        id="region" class="form-control" th:field="*{region}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('region')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('street')}? 'has-error':''">
                    <label for="street" class="control-label">Adresse</label> <input
                        id="street" class="form-control" th:field="*{street}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('street')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label for="codePost" class="control-label">Code Postale</label> <input
                        id="codePost" class="form-control" th:field="*{codePost}"/>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('city')}? 'has-error':''">
                    <label for="city" class="control-label">Ville</label> <input
                        id="city" class="form-control" th:field="*{city}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('city')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
                    <label for="description" class="control-label">Description</label> <input
                        id="description" class="form-control" th:field="*{description}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('description')}"
                       th:text="${error}">Validation error</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
        <input class="btn btn-primary mt-3" type="button" onclick="history.back();" value="Annuler et retourner"/>

    </div>
</main>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
