<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: nav"/>


<main role="main">
    <div class="container">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Nouveau Voie</h1>
                <p class="lead">Pour ajouter un nouveau voie, remplissez toutes les informations nécessaires</p>
            </div>
        </div>
        <div th:if="${param.success}">
            <div class="alert alert-info">You've successfully registered
                your voie!
            </div>
        </div>


        <form th:action="@{/user/add-voie}" th:object="${voie}" method="POST">
            <div>
                <h2 class="text-center">Voie</h2>
                <div class="form-group">
                    <label class="control-label">Secteur</label> <input
                        name="secteurId" id="secteur222" class="form-control" th:value="${secteur.id}" readonly
                        hidden="hidden"/><input
                        class="form-control" th:value="${secteur.name}" readonly/>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                    <label for="name" class="control-label">Nom</label> <input
                        id="name" class="form-control" th:field="*{name}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('name')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('cotation')}? 'has-error':''">
                    <label for="formGroupExampleVoieCotation">Cotation</label>
                    <select id="formGroupExampleVoieCotation" class="form-control" th:field="${voie.cotation}">
                        <th:block th:each="cotation : ${listCotations}">
                            <option th:utext="${cotation}" th:value="${cotation}"></option>
                        </th:block>
                    </select>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('cotation')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
                    <label for="region" class="control-label">Description</label> <input
                        id="region" class="form-control" th:field="*{description}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('description')}"
                       th:text="${error}">Validation error</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
        <input class="btn btn-primary mt-3" type="button" onclick="history.back();" value="Annuler et retourner"/>
    </div>
</main>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
