<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: nav"/>

<main role="main">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">New role</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${users}">
                <tr>
                    <th th:utext="${user.email}" scope="row"></th>
                    <td th:utext="${user.nome}"></td>
                    <td th:each="role : ${user.roles}" th:utext="${role}"></td>
                    <td>
                        <form method="post" th:action="@{/admin}">
                            <input hidden th:name="userId" th:value="*{user.id}">
                            <label for="saveRolew">
                                <select id="saveRolew" class="form-control" th:name="userRole">
                                    <th:block th:each="role : ${roles}">
                                        <option th:utext="*{role}" th:value="*{role}"></option>
                                    </th:block>
                                </select>
                            </label>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </form>
                    </td>
                    <td>

                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
