<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: nav"/>


<main role="main">
    <div class="container">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Modifier la Voie</h1>
            </div>
        </div>

        <form th:action="@{/user/voie/modify}" th:object="${voie}" method="POST">
            <div>
                <input type="text" class="form-control"
                       th:name="voieId"
                       th:value="${voie.id}" readonly hidden>
                <div class="form-group">
                    <label for="site">Secteur</label>
                    <input type="text" id="site" class="form-control" th:placeholder="${voie.secteur.name}" readonly>

                </div>
                <div class="form-group">
                    <label for="name" class="control-label">Nom</label> <input
                        id="name" class="form-control" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleVoieCotation">Cotation</label>
                    <select id="formGroupExampleVoieCotation" class="form-control" th:field="${voie.cotation}">
                        <th:block th:each="cotation : ${listCotations}">
                            <option th:utext="${cotation}" th:value="${cotation}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label for="region" class="control-label">Description</label> <input
                        id="region" class="form-control" th:field="*{description}"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
        <input class="btn btn-primary mt-3" type="button" onclick="history.back();" value="Annuler et retourner"/>
    </div>
</main>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
