<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Reservations</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>


<div th:replace="fragments/header :: nav"/>


<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reservation</h4>
            </div>
            <div class="modal-body">
                <p>Vous avez déjà demandé la réservation de ce topo. Veuillez attendre la réponse du propriétaire.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fermer</button>
            </div>
        </div>
    </div>
</div>

<main role="main">
    <div class="container">
        <h2 class="text-center" th:if="${reservationTopoOwner.isEmpty()  && reservations.isEmpty()}"> Vous n'avez pas de
            reservations !!</h2>
        <div th:if="${!reservationTopoOwner.isEmpty()}">
            <h3>Demande de la confirmation</h3>
            <table class="table table-sm table-responsive-lg">
                <thead>
                <tr>
                    <th scope="col">Demandeur de reservation</th>
                    <th scope="col">Nom du topo</th>
                    <th scope="col">Date de la demande</th>
                    <th scope="col">Statut</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="reservationOwner : ${reservationTopoOwner}">
                    <tr th:if="${!reservationOwner.isAnnuled()}">
                        <th th:utext="${reservationOwner.getUser().getNome()}" scope="row"></th>
                        <td th:utext="${reservationOwner.getTopo().getName()}"></td>
                        <td th:utext="${#dates.format(reservationOwner.getDateCreation(), 'dd-MMM-yyyy HH:mm')}"></td>
                        <td th:if="${!reservationOwner.isDismiss() and !reservationOwner.isAnnuled()}"
                            th:text="${reservationOwner.confirmed? 'Confirmée':'En attente'}"></td>
                        <td th:if="${reservationOwner.isDismiss()}">Refusée</td>
                        <td>
                            <div class="row"
                                 th:if="${!reservationOwner.isConfirmed()} and ${!reservationOwner.isDismiss()} and ${!reservationOwner.isAnnuled()}">
                                <form class="col mt-1" method="post" th:action="@{/user/reservation/confirm}">
                                    <label>
                                        <input name="reservationConf" th:value="${reservationOwner.getId()}" readonly
                                               hidden="hidden">
                                    </label>
                                    <button class="btn btn-primary" type="submit">Confirmer</button>
                                </form>
                                <form class="col mt-1" method="post" th:action="@{/user/reservation/dismiss}">
                                    <label>
                                        <input name="reservationDis" th:value="${reservationOwner.getId()}" readonly
                                               hidden="hidden">
                                    </label>
                                    <button class="btn btn-primary" type="submit">Refuser</button>
                                </form>
                            </div>
                            <button th:if="${reservationOwner.isConfirmed() or reservationOwner.isDismiss() or reservationOwner.isAnnuled()}"
                                    type="button" class="btn btn-primary" data-toggle="modal"
                                    th:utext="${reservationOwner.isDismiss() or reservationOwner.isAnnuled() ? 'Supprimer' : 'Faire disponible'}"
                                    data-target="" th:attr="data-target = ${'#supprimer' + reservationOwner.getId()}">

                            </button>

                            <!-- Modal -->
                            <div class="modal fade" th:attr="id=${'supprimer' + reservationOwner.getId()}" id="2"
                                 tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel2">Faire disponible</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous supprimer la réservation et la rendre disponible?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non
                                            </button>
                                            <form method="post" th:action="@{/user/reservation/delete}">
                                                <label>
                                                    <input name="reservationDelete"
                                                           th:value="${reservationOwner.getId()}" readonly
                                                           hidden="hidden">
                                                </label>
                                                <button class="btn btn-primary"
                                                        th:utext="${reservationOwner.isDismiss()? 'Supprimer' : 'Faire disponible'}"
                                                        type="submit"></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td th:if="${reservationOwner.confirmed}">
                            <p>
                                <button class="btn btn-primary" type="button" data-toggle="collapse"
                                        th:attr="data-target=${'#collapseExample11' + reservationOwner.getId()}"
                                        data-target="#collapseExample11" aria-expanded="false"
                                        aria-controls="collapseExample11">
                                    Les coordonnées
                                </button>
                            </p>
                            <div class="collapse" th:id="${'collapseExample11' + reservationOwner.getId()}">
                                <div class="card card-body" th:text="${reservationOwner.user.email}">
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div th:if="${reservationTopoOwner.getTotalPages() > 1}" class="mt-3 ">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Pages</a>
                    </li>
                    <th:block th:each="numberOfPage : ${pagesBottom}">
                        <li th:if="${numberOfPage -1 == reservationTopoOwner.number}" class="page-item active">
                            <a class="page-link" href="#" tabindex="-1"
                               th:utext="${numberOfPage}"></a>
                        </li>
                        <li th:if="${numberOfPage -1 != reservationTopoOwner.number}" class="page-item">
                            <a class="page-link"
                               th:href="@{${url}(bottom_page=${numberOfPage}-1, top_page=${reservations.getNumber()})}"
                               tabindex="-1"
                               th:utext="${numberOfPage}"></a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        <div th:if="${!reservations.isEmpty()}">
            <h3>Vos réservations</h3>
            <table class="table table-sm table-responsive-lg">
                <thead>
                <tr>
                    <th scope="col">Propriétaire du topo</th>
                    <th scope="col">Nom du topo</th>
                    <th scope="col">Date de la demande</th>
                    <th scope="col">Statut</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="reservation : ${reservations}">
                    <tr>
                        <th th:utext="${reservation.topo.user.nome}" scope="row"></th>
                        <td th:utext="${reservation.getTopo().getName()}"></td>
                        <td th:utext="${#dates.format(reservation.getDateCreation(), 'dd-MMM-yyyy HH:mm')}"></td>
                        <td th:if="${!reservation.isDismiss() and !reservation.isAnnuled()}"
                            th:text="${reservation.confirmed? 'Confirmée':'En attente'}"></td>
                        <td th:if="${reservation.isDismiss() and !reservation.isAnnuled()}">Refusée</td>
                        <td th:if="${!reservation.isDismiss() and reservation.isAnnuled()}">Annulée</td>

                        <td th:if="${reservation.isDismiss() or reservation.isAnnuled()}">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=""
                                    th:utext="'Supprimer'"
                                    th:attr="data-target = ${'#suprim' + reservation.getId()}">
                                Annuler
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" th:attr="id=${'suprim' + reservation.getId()}" id="" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1">Suppression de
                                                reservation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous supprimer votre réservation?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non
                                            </button>
                                            <form method="post" th:action="@{/user/reservation/delete}">
                                                <label>
                                                    <input name="reservationDelete" th:value="${reservation.getId()}"
                                                           readonly
                                                           hidden="hidden">
                                                </label>
                                                <button class="btn btn-primary" type="submit">Oui</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td th:if="${!reservation.isDismiss() and !reservation.isAnnuled()}">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=""
                                    th:utext="'Annuler'"
                                    th:attr="data-target = ${'#annuler' + reservation.getId()}">
                                Annuler
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" th:attr="id=${'annuler' + reservation.getId()}" id="1" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Annulation de
                                                reservation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous annuler votre réservation?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non
                                            </button>
                                            <form method="post" th:action="@{/user/reservationOwner/delete}">
                                                <label>
                                                    <input name="reservationDelete" th:value="${reservation.getId()}"
                                                           readonly
                                                           hidden="hidden">
                                                </label>
                                                <button class="btn btn-primary" type="submit">Oui</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td th:if="${reservation.confirmed}">
                            <p>
                                <button class="btn btn-primary" type="button" data-toggle="collapse"
                                        th:attr="data-target=${'#collapseExample11' + reservation.getId()}"
                                        data-target="#Example23" aria-expanded="false" aria-controls="Example23">
                                    Les coordonnées
                                </button>
                            </p>
                            <div class="collapse" th:id="${'collapseExample11' + reservation.getId()}">
                                <div class="card card-body" th:text="${reservation.topo.user.email}">
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div th:if="${reservations.getTotalPages() > 1}" class="mt-3 ">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Pages</a>
                    </li>
                    <th:block th:each="numberOfPage : ${pagesTop}">
                        <li th:if="${numberOfPage -1 == reservations.number}" class="page-item active">
                            <a class="page-link" href="#" tabindex="-1"
                               th:utext="${numberOfPage}"></a>
                        </li>
                        <li th:if="${numberOfPage -1 != reservations.number}" class="page-item">
                            <a class="page-link"
                               th:href="@{${url}(bottom_page=${reservationTopoOwner.number}, top_page=${numberOfPage -1})}"
                               tabindex="-1"
                               th:utext="${numberOfPage}"></a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</main>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
