<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Escalade</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>


<div th:replace="fragments/header :: nav"/>


<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Données saisies incorrectement</h4>
            </div>
            <div class="modal-body">
                <p>Saisissez la Cotation maximale souhaitée dans la plage et le format spécifiés.</p>
                <p>3A, 3B, 3C, 4A, 4B, 4C, ... 9A, 9B, 9C</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fermer</button>
            </div>
        </div>
    </div>
</div>

<main role="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-5 col-md-5 col-lg-3 col-xl-2 mt-5">
                <div class="card border-dark mr-3 ">
                    <div class="card-body">
                        <h5 class="card-title" th:utext="Filters"></h5>

                        <form name="filter" method="get" onsubmit="return  validateForm()" th:action="@{/sites}">
                            <div class="form-group">
                                <label for="inputName">Nom</label>
                                <input type="text" id="inputName" class="form-control" th:name="name"
                                       th:placeholder="${param.name}">
                            </div>
                            <div class="form-group">
                                <label for="inputRegion">Region</label>
                                <select id="inputRegion" class="form-control" th:name="selectRegion">
                                    <option selected disabled hidden th:text="${param.selectRegion}"></option>
                                    <th:block th:each="region : ${allRegions}">
                                        <option th:utext="*{region}" th:value="*{region}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputSecteurs">Nombre de secteurs</label>
                                <input type="number" id="inputSecteurs" class="form-control" th:name="nombreSecteurs"
                                       th:placeholder="${param.nombreSecteurs}">
                            </div>
                            <div class="form-group">
                                <label for="inputVoies">Nombre de voies</label>
                                <input type="number" id="inputVoies" class="form-control" th:name="nombreVoies"
                                       th:placeholder="${param.nombreVoies}">
                            </div>
                            <div class="form-group">
                                <label for="inputcotation">Cotation Max</label>
                                <input id="inputcotation" type="text" class="form-control" th:name="cotation"
                                       placeholder="3A,3B,3C,4A...9A,9B,9C" th:placeholder="${param.cotation}">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="TRUE" id="isOfficiel"
                                       th:name="isOfficiel">
                                <label class="form-check-label" for="isOfficiel">
                                    «Officiel Les amis de l’escalade»
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary mt-4">Trouver</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-sm-7  col-md-7 col-lg-9 col-xl-10">
                <h3 class="text-center" th:if="${escalades.numberOfElements == 0}">Essayez d'autres critères de
                    recherche.</h3>
                <div th:if="${escalades.numberOfElements > 0}" th:with="listSize = ${ {6, 12, 18, 24} }"
                     th:insert="fragments/pagination :: pagination-size(${listSize}, ${escalades}, ${url})"></div>


                <div th:replace="fragments/card-escalade :: card-escalade(${escalades})"></div>
            </div>
        </div>
        <div th:if="${escalades.numberOfElements > 1}"
             th:replace="fragments/pagination :: pagination-pages(${numberOfPages}, ${escalades}, ${url})"></div>
    </div>
</main>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>
