<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <title>Site info</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>


<div th:replace="fragments/header :: nav"/>

<main role="main">
    <div class="container ">
        <div class="card border-dark m-1">
            <h5 class="card-header" th:utext="${site.name}"></h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2" th:if="${site.isOfficial()}" style="color: red">Officiel Les amis de
                    l’escalade</h6>
                <p class="card-text">Description:</p>
                <p class="card-text" th:utext="${site.description}"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                <li class="list-group-item">
                    <p>Region:</p>
                    <p th:utext="${site.region}"></p>
                </li>
                <li class="list-group-item">
                    <p>Adresse:</p>
                    <p th:utext="${site.street + ', ' + site.city + ', ' + site.codePost}"></p>
                </li>
                <li class="list-group-item">
                    <p>Cotation maximal:</p>
                    <p th:utext="${site.cotationMax}"></p>
                </li>
            </ul>


            <div th:if="${site.getSecteursList()}">
                <div class="accordion" id="accordionExample">

                    <th:block th:each="secteur, iterationStatus : ${site.getSecteursList()}">

                        <!--                                    Secteur-->
                        <h5 class="card-text text-center">Secteur</h5>
                        <div class="card">
                            <div class="card-header" th:id="${secteur.getId()}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button"
                                            th:classappend="${iterationStatus.count > 1 ? 'collapsed' : ''}"
                                            th:attr="data-target=${'#collapseOne' + secteur.getId()}, aria-controls=${'collapseOne' + secteur.getId()}, aria-expanded=${iterationStatus.count == 1 ? 'true' : 'false'}"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapse" th:utext="${secteur.getName()}">
                                    </button>
                                </h5>
                            </div>

                            <div th:id="${'collapseOne' + secteur.getId()}" class="collapse "
                                 th:classappend="${iterationStatus.count == 1 ? 'show' : ''}"
                                 th:attr="aria-labelledby=${secteur.getId()}"
                                 aria-labelledby="h" data-parent="#accordionExample">
                                <div class="card border-primary">
                                    <div class="card-body">
                                        <p class="card-text" th:utext="${secteur.getDescription()}"></p>
                                    </div>

                                    <!--                                    Voie-->
                                    <th:block th:each="voie : ${secteur.getVoiesList()}">
                                        <h5 class="card-text text-center">Voie</h5>

                                        <div class="card">
                                            <div class="card-header" th:id="${'id' + voie.getId()}">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" type="button"
                                                            th:attr="data-target=${'#collapse' + voie.getId()}"
                                                            data-toggle="collapse" data-target=""
                                                            aria-expanded="false"
                                                            aria-controls="collapseOne"
                                                            th:utext="${voie.getName()}">
                                                    </button>
                                                </h5>
                                            </div>

                                            <div th:attr="id=${'collapse' + voie.getId()}" id="collap"
                                                 class="collapse"
                                                 aria-labelledby="headingOne">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <p class="card-text"
                                                           th:utext="${voie.getDescription()}"></p>
                                                        <p class="card-text"
                                                           th:utext="${'Cotation: ' + voie.getCotation()}"></p>
                                                    </div>
                                                    <div class="card-body">
                                                        <!--                                                  Longuer-->
                                                        <th:block th:each="longueur : ${voie.getLongueurList()}">
                                                            <h5 class="card-text card-body ml-2">Longueur</h5>
                                                            <div class="card">
                                                                <div class="card-header"
                                                                     th:utext="${longueur.getName()}"></div>
                                                                <div class="card-body">
                                                                    <p class="card-text"
                                                                       th:utext="${longueur.getDescription()}"></p>
                                                                    <p class="card-text"
                                                                       th:utext="${'Hauteur: ' + longueur.getHeight() + 'm'}"></p>
                                                                </div>
                                                            </div>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>


            <!--            NewComment-->


            <br>
            <form th:if="${! #authorization.expression('hasAuthority(''ADMIN'')')}" th:action="@{/user/new/comment}"
                  th:object="${newComment}" method="post"
                  sec:authorize="isAuthenticated()">
                <h4 class="text-center">Nouveau Commentaire</h4>
                <div class="form-group ml-4 mr-4"
                     th:classappend="${#fields.hasErrors('text')}? 'has-error':''">
                    <input th:name="siteId" th:value="${site.id}" readonly hidden>
                    <label for="comentNew"></label>
                    <textarea class="form-control" id="comentNew" rows="3" th:field="${newComment.text}"
                              placeholder="Laisser un commentaire"></textarea>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('text')}"
                       th:text="${error}">Validation error</p>
                </div>
                <button type="submit" class="btn btn-primary ml-5">Envoyer</button>
            </form>
            <div class="card-body">


                <!--                Comments-->


            </div>
            <h3 class="text-center">Commentaires</h3>
            <th:block th:each="comment : ${comments}">
                <div class="card mb-2">
                    <div class="card-header" th:utext="${comment.author.getNamePrenom()}">
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:utext="${comment.getText()}"></p>
                        <div class="row"
                             th:if="${comment.author.getEmail().equals(user) or #authorization.expression('hasAuthority(''MEMBRE'')')}">

                            <!--                            PopUp-->
                            <button type="button" class="row ml-3 btn btn-danger" data-toggle="modal"
                                    data-target="" th:attr="data-target = ${'#supprimer' + comment.getId()}">Supprimer
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" th:attr="id=${'supprimer' + comment.getId()}" id="2"
                                 tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel2">Supprimer le
                                                commentaire</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous supprimer le commentaire?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non
                                            </button>
                                            <form th:action="@{/user/comment/delete}" method="post" class="ml-3 mb-2">
                                                <input th:name="commentId" th:value="${comment.id}" hidden="hidden"
                                                       readonly>
                                                <button class="btn btn-primary" type="submit">Oui</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form th:action="@{/user/comment/update}" method="get" class="ml-3">
                                <input th:name="commentId" th:value="${comment.id}" hidden="hidden" readonly>
                                <button class="btn btn-primary" type="submit">Modifier</button>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer"
                         th:utext="${#dates.format(comment.getDateCreation(), 'dd-MMM-yyyy HH:mm')}"></div>
                </div>
            </th:block>
        </div>
    </div>
</main>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>
