<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: nav"/>


<main role="main">
    <div class="container ">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Modifier un Site</h1>
            </div>
        </div>
        <form th:action="@{/user/site/modify}" th:object="${site}" method="POST">
            <div>
                <input name="siteId" class="form-control" th:value="${site.id}" hidden readonly/>
                <h2 class="text-center">Site</h2>
                <div class="form-group">
                    <label for="name" class="control-label">Nom</label> <input
                        id="name" class="form-control" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <label for="region" class="control-label">Region</label> <input
                        id="region" class="form-control" th:field="*{region}"/>
                </div>
                <div class="form-group">
                    <label for="street" class="control-label">Rue</label> <input
                        id="street" class="form-control" th:field="*{street}"/>
                </div>
                <div class="form-group">
                    <label for="codePost" class="control-label">Code Postale</label> <input
                        id="codePost" type="number" class="form-control" th:field="*{codePost}"/>
                </div>
                <div class="form-group">
                    <label for="city" class="control-label">Ville</label> <input
                        id="city" class="form-control" th:field="*{city}"/>
                </div>
                <div class="form-group">
                    <label for="description" class="control-label">Description</label> <input
                        id="description" class="form-control" th:field="*{description}"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Modifier le site</button>
        </form>


        <form class=" m-3 d-flex justify-content-center" th:action="@{/user/add-secteur}" method="get">
            <input name="siteId" th:value="${site.getId()}" hidden readonly>
            <button th:utext="${'Ajouter un secteur au site'}"
                    type="submit" class="btn-primary btn "></button>
        </form>


        <div th:if="${site.getSecteursList()}">
            <div class="accordion" id="accordionExample">

                <th:block th:each="secteur, iterationStatus : ${site.getSecteursList()}">

                    <!--                                    Secteur-->
                    <h5 class="card-text text-center">Secteur</h5>
                    <div class="card">
                        <div class="card-header" th:id="${secteur.getId()}">
                            <h5 class="mb-0 row">
                                <button class="btn btn-link col-0 col-sm-0 col-md-6 col-lg-7" type="button"
                                        th:classappend="${iterationStatus.count > 1 ? 'collapsed' : ''}"
                                        th:attr="data-target=${'#collapseOne' + secteur.getId()}, aria-controls=${'collapseOne' + secteur.getId()}, aria-expanded=${iterationStatus.count == 1 ? 'true' : 'false'}"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapse" th:utext="${secteur.getName()}">
                                </button>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                                    <div class="flex-row d-flex justify-content-end">
                                        <form class=" m-2" th:action="@{/user/add-voie}" method="get">
                                            <input name="secteurId" th:value="${secteur.id}" hidden readonly>
                                            <button th:utext="${'Ajouter une voie'}"
                                                    type="submit" class="btn-primary btn "></button>
                                        </form>
                                        <form class=" m-2" th:action="@{/user/secteur/modify}" method="get">
                                            <input name="secteurId" th:value="${secteur.id}" hidden readonly>
                                            <button th:utext="${'Modifier'}"
                                                    type="submit" class="btn-warning btn "></button>
                                        </form>
                                        <button type="button" class="row m-2 btn btn-danger" data-toggle="modal"
                                                data-target=""
                                                th:attr="data-target = ${'#supprimer' + secteur.getId()}">
                                            Supprimer
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" th:attr="id=${'supprimer' + secteur.getId()}" id="2"
                                             tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel2">Supprimer le
                                                            secteur</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Voulez-vous supprimer le secteur?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Non
                                                        </button>
                                                        <form class=" m-2" th:action="@{/user/secteur/delete}"
                                                              method="post">
                                                            <input name="secteurId" th:value="${secteur.id}" hidden
                                                                   readonly>
                                                            <input name="siteId" th:value="${site.id}" hidden readonly>
                                                            <button th:utext="${'Oui'}"
                                                                    type="submit" class="btn-danger btn "></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h5>
                        </div>

                        <div th:id="${'collapseOne' + secteur.getId()}" class="collapse "
                             th:classappend="${iterationStatus.count == 1 ? 'show' : ''}"
                             th:attr="aria-labelledby=${secteur.getId()}"
                             aria-labelledby="h" data-parent="#accordionExample">
                            <div class="card border-primary">
                                <div class="card-body">
                                    <p class="card-text" th:utext="${secteur.getDescription()}"></p>
                                </div>

                                <!--                                    Voie-->
                                <th:block th:each="voie : ${secteur.getVoiesList()}">
                                    <h5 class="card-text text-center">Voie</h5>

                                    <div class="card">
                                        <div class="card-header" th:id="${'id' + voie.getId()}">
                                            <h5 class="mb-0 row">
                                                <button class="btn btn-link col-0 col-sm-0 col-md-6 col-lg-7"
                                                        type="button"
                                                        th:attr="data-target=${'#collapse' + voie.getId()}"
                                                        data-toggle="collapse" data-target=""
                                                        aria-expanded="false"
                                                        aria-controls="collapseOne"
                                                        th:utext="${voie.getName()}">
                                                </button>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                                                    <div class="flex-row d-flex justify-content-end">
                                                        <form class=" m-2" th:action="@{/user/add-longueur}"
                                                              method="get">
                                                            <input name="voieId" th:value="${voie.id}" hidden readonly>
                                                            <button th:utext="${'Ajouter un longueur'}"
                                                                    type="submit" class="btn-primary btn "></button>
                                                        </form>
                                                        <form class=" m-2" th:action="@{/user/voie/modify}"
                                                              method="get">
                                                            <input name="voieId" th:value="${voie.id}" hidden readonly>
                                                            <button th:utext="${'Modifier'}"
                                                                    type="submit" class="btn-warning btn "></button>
                                                        </form>
                                                        <button type="button" class="row m-2 btn btn-danger"
                                                                data-toggle="modal"
                                                                data-target=""
                                                                th:attr="data-target = ${'#supprimer' + voie.getId()}">
                                                            Supprimer
                                                        </button>
                                                        <!-- Modal -->
                                                        <div class="modal fade"
                                                             th:attr="id=${'supprimer' + voie.getId()}"
                                                             id="7"
                                                             tabindex="-1" role="dialog"
                                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabe">
                                                                            Supprimer
                                                                            la voie</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Voulez-vous supprimer la voie?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Non
                                                                        </button>
                                                                        <form class=" m-2"
                                                                              th:action="@{/user/voie/delete}"
                                                                              method="post">
                                                                            <input name="voieId" th:value="${voie.id}"
                                                                                   hidden
                                                                                   readonly>
                                                                            <input name="siteId" th:value="${site.id}"
                                                                                   hidden
                                                                                   readonly>
                                                                            <button th:utext="${'Oui'}"
                                                                                    type="submit"
                                                                                    class="btn-danger btn "></button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </h5>
                                        </div>

                                        <div th:attr="id=${'collapse' + voie.getId()}" id="collap"
                                             class="collapse"
                                             aria-labelledby="headingOne">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p class="card-text"
                                                       th:utext="${voie.getDescription()}"></p>
                                                    <p class="card-text"
                                                       th:utext="${'Cotation: ' + voie.getCotation()}"></p>
                                                </div>
                                                <div class="card-body">
                                                    <!--                                                  Longuer-->
                                                    <th:block th:each="longueur : ${voie.getLongueurList()}">
                                                        <h5 class="card-text card-body ml-2">Longueur</h5>
                                                        <div class="card">
                                                            <div class="card-header"
                                                                 th:utext="${longueur.getName()}"></div>
                                                            <div class="card-body">
                                                                <p class="card-text"
                                                                   th:utext="${longueur.getDescription()}"></p>
                                                                <p class="card-text"
                                                                   th:utext="${'Hauteur: ' + longueur.getHeight() + 'm'}"></p>
                                                                <div class="row">
                                                                    <form class=" m-2"
                                                                          th:action="@{/user/longueur/modify}"
                                                                          method="get">
                                                                        <input name="longueurId"
                                                                               th:value="${longueur.id}" hidden
                                                                               readonly>
                                                                        <button th:utext="${'Modifier'}"
                                                                                type="submit"
                                                                                class="btn-warning btn "></button>
                                                                    </form>
                                                                    <button type="button" class="row m-2 btn btn-danger"
                                                                            data-toggle="modal"
                                                                            data-target=""
                                                                            th:attr="data-target = ${'#supprimer' + longueur.getId()}">
                                                                        Supprimer
                                                                    </button>
                                                                    <!-- Modal -->
                                                                    <div class="modal fade"
                                                                         th:attr="id=${'supprimer' + longueur.getId()}"
                                                                         id="7s"
                                                                         tabindex="-1" role="dialog"
                                                                         aria-labelledby="exampleModalLabel"
                                                                         aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title"
                                                                                        id="exampleModae">Supprimer le
                                                                                        longueur</h5>
                                                                                    <button type="button" class="close"
                                                                                            data-dismiss="modal"
                                                                                            aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    Voulez-vous supprimer le longueur?
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button"
                                                                                            class="btn btn-secondary"
                                                                                            data-dismiss="modal">Non
                                                                                    </button>
                                                                                    <form class=" m-2"
                                                                                          th:action="@{/user/longueur/delete}"
                                                                                          method="post">
                                                                                        <input name="longueurId"
                                                                                               th:value="${longueur.id}"
                                                                                               hidden readonly>
                                                                                        <input name="siteId"
                                                                                               th:value="${site.id}"
                                                                                               hidden
                                                                                               readonly>
                                                                                        <button th:utext="${'Oui'}"
                                                                                                type="submit"
                                                                                                class="btn-danger btn "></button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
